@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 100% 0%, rgba(255, 255, 0, 1) 0%, rgba(18, 0, 255, 1) 16%, rgba(244, 67, 54, 1) 34%, rgba(0, 0, 0, 1) 84%);
    display: grid;
    place-items: center;
}

.game-info{
    color: #fff;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}
.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.br{
    border-right: 2px solid #fff;
}
.bt{
    border-top: 2px solid #fff;
}
.btn{
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}